body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  height: 90vh;
  background-color: rgb(196, 196, 193);
  margin: 5vh;
  padding: 4vw;
  box-sizing: border-box;
  border-radius: 8px;
}
.chart{
  width: 700px;
}
